/* 
 * CSS Styles for element: sc-3e17776-0 gfuBfA sc-eb42bfae-1 crClsI
 * Complete styles extracted from MediaMarkt website
 */

/* Main Container - sc-3e17776-0 gfuBfA */
.gfuBfA {
    display: block;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    position: relative;
    background: #000000;
    padding: 0;
    height: auto;
    max-height: 600px;
    margin: 0 auto;
    border: 1px solid #292929;
    border-radius: 16px;
    box-shadow: none;
}

/* Alternative variant - cznooJ */
.cznooJ {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background: #000000;
    padding: 0;
    border: 1px solid #292929;
    border-radius: 8px;
    box-shadow: none;
}

/* Inner Container - sc-eb42bfae-1 crClsI */
.crClsI {
    width: 100%;
    height: auto;
    max-height: 600px;
    outline: none;
    overflow: hidden;
}

/* Child Container - sc-eb42bfae-0 bLQbuf */
.bLQbuf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Child Container - sc-eb42bfae-2 gjITKV */
.gjITKV {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    height: auto;
    max-height: 600px;
}

/* Responsive: Desktop - gjITKV */
@media (min-width: 752px) {
    .gjITKV {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

/* Alternative variant - jBkGcw */
.jBkGcw {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    height: 100%;
}

/* Responsive: Desktop - jBkGcw */
@media (min-width: 752px) {
    .jBkGcw {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}


